langchain
dotenv
langchain_groq
ffmpeg
sounddevice
speechrecognition
pydub
pyaudio
scipy
imageio-ffmpeg
groq
pyttsx3
fastapi
pydantic
authlib
httpx
uvicorn
python-jose[cryptography]
pymysql
itsdangerous